<!DOCTYPE html>
<html lang="en">
  <head th:fragment="head">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      th:href="@{/assets/svg/logo.svg}"
      type="image/x-icon"
    />
    <title>CHAMITA</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  <body>
    <aside class="sidebar-nav-wrapper" th:fragment="aside">
      <div class="navbar-logo">
        <a th:href="@{/dashboard}">
          <img th:src="@{/assets/svg/logo.svg}" alt="logo" />
        </a>
        <p class="pt-2 text-logo">CHAMITA</p>
      </div>
      <nav class="sidebar-nav">
        <ul>
          <li class="nav-item nav-item-has-children">
            <a
              href="#0"
              class="collapsed d-flex align-items-center"
              data-bs-toggle="collapse"
              data-bs-target="#ddmenu_2"
              aria-controls="ddmenu_2"
              aria-expanded="none"
              aria-label="Toggle navigation"
            >
              <i class="fa-solid fa-house"></i>
              <span id="gestion" class="text ms-3"
                >Gestión Principal<i class="ms-2 fa-solid fa-chevron-down"></i
              ></span>
            </a>
            <ul id="ddmenu_2" class="collapse dropdown-nav">
              <li th:class="${atxt}">
                <a th:href="@{/producto/}">
                  <i class="fas fa-hands"></i> Productos
                </a>
              </li>
              <li th:class="${btxt}">
                <a th:href="@{/categoria/}" class="a-active">
                  <i class="fas fa-shopping-cart"></i> Categorias
                </a>
              </li>
              <li th:class="${ctxt}">
                <a th:href="@{/cliente/}">
                  <i class="fas fa-user-tag"></i> Clientes</a
                >
              </li>
              <li th:class="${dtxt}">
                <a th:href="@{/empleado/}">
                  <i class="fas fa-user-check"></i> Empleados
                </a>
              </li>
              <li th:class="${etxt}">
                <a th:href="@{/pedido/}">
                  <i class="fas fa-shopping-cart"></i> Pedidos
                </a>
              </li>
              <li th:class="${gtxt}">
                <a th:href="@{/proveedor/}">
                  <i class="fas fa-user-friends"></i> Proveedores</a
                >
              </li>
              <li th:class="${htxt}">
                <a th:href="@{/local/}">
                  <i class="fas fa-user-tag"></i> Locales
                </a>
              </li>
              <li th:class="${itxt}">
                <a th:href="@{/material/}">
                  <i class="fas fa-bacteria"></i> Materiales
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>
    <div class="overlay" th:fragment="overlay"></div>
    <div class="main-wrapper">
      <div class="header" th:fragment="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-6">
              <div class="header-left d-flex align-items-center">
                <div class="menu-toggle-btn mr-20">
                  <button id="menu-toggle" class="main-btn btn-hover">
                    <i class="fa fa-bars text-black"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-6">
              <div class="header-right">
                <div class="profile-box ml-15">
                  <button
                    class="dropdown-toggle bg-transparent border-0"
                    type="button"
                    id="profile"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <div class="profile-info">
                      <div class="info">
                        <div class="image overflow-hidden">
                          <img th:src="@{/assets/img/gato.jpg}" alt="" />
                        </div>
                        <h6 class="ms-3 p-0">Administrador</h6>
                        <i class="ms-3 fa-solid fa-chevron-down"></i>
                      </div>
                    </div>
                    <i class="lni lni-chevron-down"></i>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="profile"
                  >
                    <li>
                      <a href="#0"> <i class=" "></i> Perfil </a>
                    </li>
                    <li>
                      <a href="#0"> <i class=""></i> Configuración </a>
                    </li>
                    <li>
                      <a th:href="@{/login}">
                        <i class="lni lni-exit"></i> Salir
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- profile end -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 order-last order-md-first">
              <div class="copyright text-center text-md-start">
                <p class="text-sm">
                  Designed and Developed by
                  <a
                    href="https://plainadmin.com"
                    rel="nofollow"
                    target="_blank"
                  >
                    PlainAdmin
                  </a>
                </p>
              </div>
            </div>
            <!-- end col-->
            <div class="col-md-6">
              <div
                class="terms d-flex justify-content-center justify-content-md-end"
              >
                <a href="#0" class="text-sm">Term & Conditions</a>
                <a href="#0" class="text-sm ml-15">Privacy & Policy</a>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
      </footer>
    </div>
    <div th:fragment="extra">
      <script th:src="@{/js/main.js}"></script>
    </div>
  </body>
</html>
