<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
xmlns:sec=http://www.thymeleaf.org/extras/spring-security
xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
  <head th:replace="layout/fragmentos :: head">
  </head>
  <body>
    <aside th:replace="layout/fragmentos :: aside"></aside>
    <!-- <div th:replace="layout/fragmentos :: overlay"></div> -->
    <div class="overlay" ></div>
    <main class="main-wrapper">
      <div th:replace="layout/fragmentos :: header"></div>
      <section class="section">
        <div class="container-fluid py-4">
                <div class="card w-75 mx-auto ">
                    <div class="card-header text-dark py-4">
                        <div class="row justify-content-evenly align-items-center">
                            <div class="col-12 col-lg-6 text-center fw-600 fs-3">CLIENTES ACTUALMENTE</div>
                            <div class="col-12 col-lg-6 text-center">
                                <div class="row py-3 justify-content-center">
                                    <div class="col-12">
                                        <input type="text" id="search" name="id" placeholder="Buscar" class="text-start ps-2 mx-4 p-0 dash_search">
                                        <a href="" id="agregarcliente" class="btn btn-success my-2" data-bs-toggle="modal" data-bs-target="#formModal" >
                                            AGREGAR
                                            <i id="iconcliente" class="fas fa-plus "></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive ">
                        <div class="row pb-3">
                            <div class="col-12">
                                <p class="d-inline">Mostrar</p>
                                <select id="select" name="select">
                                    <option value="5" th:selected=" ${numPage ==  5 } ?  true : false">5</option>
                                    <option value="10" th:selected=" ${numPage == 10 } ?  true : false">10</option>
                                    <option value="15" th:selected=" ${numPage == 15 } ?  true : false">15</option>
                                </select>
                                <p class="d-inline">Registros</p>
                            </div>
                        </div>
                        <table class="table table-hover table-bordered text-center ">
                            <thead>
                                <tr>
                                    <th class="px-3">ID</th>
                                    <th class="px-3">Nombre</th>
                                    <th class="px-3">DNI</th>
                                    <th class="px-3">FECHA INGRESO</th>
                                    <th class="px-3"></th>
                                    <th class="px-4"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item: ${list}">
                                    <td th:text="${item.id}"></td>
                                    <td th:text="${item.nombre}" th:data-nombre="${item.nombre}" ></td>
                                    <td th:text="${item.dni}"></td>    
                                    <td th:text="${item.fecha}"></td>                            
                                    <td>
                                        <a 
                                         th:href="@{/cliente/editar/} + ${item.id}" 
                                         id="editcliente"
                                         th:data-id="${item.id}"
                                         th:data-name="${item.nombre}"
                                         th:data-surname="${item.apellido}"
                                         th:data-dni="${item.dni}"
                                         th:data-fecha="${item.fecha}"
                                         th:data-ciudad="${item.ciudad}"
                                         th:data-provincia="${item.provincia}"
                                         th:data-direccion="${item.direccion}"
                                         th:data-email="${item.correo}"
                                         th:data-telefono="${item.telefono}"
                                         class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#formModal"> 
                                         <i class="fas fa-edit" ></i> Editar</a>
                                    </td>
                                    <td>
                                        <a 
                                        id="eliminarcliente"
                                        th:data-id="${item.id}"
                                        data-bs-toggle="modal" data-bs-target="#formModal2"                                    
                                        class="btn btn-danger"> 
                                        <i class="fas fa-trash pe-1"></i>Eliminar</a>
                                    </td>
                                    <td>
                                        <a 
                                        th:href="@{/cliente/ver/} + ${item.id}" 
                                        id="vercliente"
                                        th:data-id="${item.id}"
                                        th:data-name="${item.nombre}"
                                        th:data-surname="${item.apellido}"
                                        th:data-dni="${item.dni}"
                                        th:data-fecha="${item.fecha}"
                                        th:data-ciudad="${item.ciudad}"
                                        th:data-provincia="${item.provincia}"
                                        th:data-direccion="${item.direccion}"
                                        th:data-email="${item.correo}"
                                        th:data-telefono="${item.telefono}"
                                        class="btn btn-secondary px-2" data-bs-toggle="modal" data-bs-target="#formModal"> 
                                        <i class="fas fa-eye pe-1 "></i>Ver</a>
                                    </td>
                                    <td>
                                        <a 
                                        href="#" 
                                        id="pedidocliente"
                                        th:data-id="${item.id}"
                                        class="btn btn-light px-2 border border-3"
                                        data-bs-toggle="modal" data-bs-target="#formModal3"> 
                                        <i class="fas fa-check pe-1 "></i>Agregar Pedido</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                            <div class="col-12">
                                <nav aria-label="Pagination">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                            <a class="page-link" th:href="@{|/cliente/?page=${prev}|}"><span
                                                    aria-hidden="true">&laquo;</span></a>
                                        </li>
                                        <li class="page-item" th:each="page : ${pages}"
                                            th:classappend="${current == page ? 'active' : ''}">
                                            <a class="page-link" th:href="@{|/cliente/?page=${page}|}"
                                                th:text="${page}"></a>
                                        </li>
                                        <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                            <a class="page-link" th:href="@{|/cliente/?page=${next}|}"><span
                                                    aria-hidden="true">&raquo;</span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                    </div>
                </div>                       
        </div>
      </section>
      <footer th:replace="layout/fragmentos :: footer">  
      </footer>
    </main>
    
    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form  method="post" th:action="@{/cliente/form}" th:object="${cliente}" >
                    <input id="id" type="hidden" th:field="*{id}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="${mensaje}"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class ="row">
                            <div class="col-12  mb-3">
                                <label>Nombre</label>
                                <input id="name" type="text" th:field="*{nombre}"  class="form-control" placeholder="Ingrese nombre"/>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-12  mb-3">
                                <label>Apellidos</label>
                                <input id="surname" type="text" th:field="*{apellido}" class="form-control" placeholder="Ingrese los Apellidos"/>
                            </div>
                        </div>     
                        <div class ="row">
                            <div class="col-6  mb-3">
                                <label>Dni</label>
                                <input id="dni" type="text" th:field="*{dni}"  class="form-control" placeholder="Ingrese el Dni"/>
                            </div>
                            <div class="col-6  mb-3">
                                <label>Fecha de Ingreso</label>
                                <input id="fecha" type="date" th:field="*{fecha}" class="form-control" />
                            </div>
                            
                        </div>   
                        <div class ="row">
                            <div class="col-6  mb-3">
                                <label>Ciudad</label>
                                <input id="ciudad" type="text" th:field="*{ciudad}"  class="form-control" placeholder="Ingrese la Ciudad"/>
                            </div>
                            <div class="col-6  mb-3">
                                <label>Provincia</label>
                                <input id="provincia" type="text" th:field="*{provincia}" class="form-control" placeholder="Ingrese la Provincia" />
                            </div>
                            
                        </div> 
                        <div class ="row">
                            <div class="col-6  mb-3">
                                <label>Direccion</label>
                                <input id="direccion" type="text" th:field="*{direccion}"  class="form-control" placeholder="Ingrese la Dirección"/>
                            </div>
                             <div class="col-6  mb-3">
                                <label>Correo</label>
                                <input id="email" type="email" th:field="*{correo}"  class="form-control" placeholder="Ingrese El Correo"/>
                            </div>
                        </div>  
                        <div class ="row">                       
                            <div class="col-12  mb-3">
                                <label>Telefono</label>
                                <input id="telefono" type="text" th:field="*{telefono}" class="form-control" placeholder="Ingrese el Telefono"/>
                            </div>
                        </div>                         
                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                        <input type="submit" id="btn-guardar" class="btn btn-primary" value="GUARDAR">
                    </div>
                </form> 
            </div>
        </div>
    </div>
    <div class="modal fade" id="formModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title fw-700 fs-4" id="exampleModalLabel" ><i class="fas fa-trash"></i> Borrar !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <p class="text-dark fw-500">    
                        Está Seguro de Eliminar este Registro ?
                    </p>
                    </div>
                    <div class="modal-footer">
                    <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                    <a id="deletecliente" type="submit" class="btn btn-danger">SI, estoy Seguro</a>
            </div>
        </div>
        </div>
    </div>
    <div class="modal fade " id="formModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 700px !important;">
            <div class="modal-content w-100">
                <form  method="post" th:action="@{/cliente/formPedido}" th:object="${pedido}" >
                    <input id="id" type="hidden" th:field="*{id}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" >
                            REGISTRAR COMPRA
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class ="row">
                            <div class="col-6  mb-3">
                                <label for="">Cliente</label>
                                <select
                                    id="clientePedido"
                                    class="form-select"
                                    th:field="*{cliente.id}"
                                    required
                                    
                                >
                                    <option value="">- Seleccione Vendedor</option>
                                    <option
                                    th:each="item: ${listaClientes}"
                                    th:value="${item.id}"
                                    th:text="${item.nombre}"
                                    ></option>
                                </select>
                            </div>
                            <div class="col-6  mb-3">
                                <label for="">Vendedor</label>
                                <select
                                    id="vendedor"
                                    class="form-select"
                                    th:field="*{empleado.id}"
                                    required
                                >
                                    <option value="">- Seleccione Vendedor</option>
                                    <option
                                    th:each="item: ${listaEmpleados}"
                                    th:value="${item.id}"
                                    th:text="${item.nombre}"
                                    ></option>
                                </select>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-6  mb-3">
                                <label for="">Local</label>
                                <select
                                    id="local"
                                    class="form-select"
                                    th:field="*{local.id}"
                                    required
                                >
                                    <option value="">- Seleccione Local</option>
                                    <option
                                    th:each="item: ${listaLocales}"
                                    th:value="${item.id}"
                                    th:text="${item.nombre}"
                                    ></option>
                                </select>
                            </div>
                            <div class="col-6  mb-3">
                                <label for="">Fecha</label>
                                <input type="date" class="form-select" th:field="*{fecha}">
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-6  mb-3">
                                <label for="">Descripción</label>
                                <input type="text" class="form-control" th:field="*{descripcion}">
                            </div>
                            <div class="col-6  mb-3">
                                <label for="">Observación</label>
                                <input type="text" class="form-control" th:field="*{observacion}">
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-12  mb-3">
                                <label for="">Producto-Código Producto</label>
                                <select
                                    id="productoBuscar"
                                    class="form-select"
                                    name="producto"
                                    required
                                >
                                    <option value="">-- Seleccione Producto</option>
                                    <option
                                    th:each="item: ${listaProductos}"
                                    th:value="${item.id}"
                                    th:text="${item.nombre}"
                                    ></option>
                                </select>
                            </div>
                        </div>  
                        <div class="row d-none">
                            <div class="col-12 text-center">
                                <a id="buscarproducto" type="button" class="mx-auto w-50 btn btn-secondary text-bold" >Agregar producto</a>
                            </div>
                        </div>    
                        <div class="row" >
                            <div  class="col-12" id="busquedaProducto" style="display: none;">
                                <table class="table table-hover table-bordered text-center "
                                >
                            <thead>
                                <tr>
                                    <th class="px-3">Descripción</th>
                                    <th class="px-3">Precio</th>
                                    <th class="px-3">Cantidad</th>
                                    <th class="px-3">Total</th>
                                    <th class="px-3"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td >
                                        <input id="inputNombre" type="text" 
                                        class="form-control mx-auto"
                                        >                        
                                    </td>
                                    <td  >
                                        <input id="inputPrecio" type="text"   style="width: 80px;"
                                        
                                        class="form-control mx-auto" >
                                    </td>
                                    <td  >
                                        <input id="inputCantidad" type="number"
                                        name="cantidad"
                                        style="width: 100px;" 
                                        class="form-control mx-auto" >
                                    </td>    
                                    <td >
                                        <input id="inputTotal" type="text"
                                        name="total"
                                        style="width: 100px;"
                                        class="form-control mx-auto">
                                    </td>                            
                                    <td>
                                        <a 
                                        id="quitarProducto" 
                                        class="btn btn-danger"> 
                                        <i class="fas fa-trash pe-1"></i></a>
                                    </td>                                                      
                                </tr>
                            </tbody>
                        </table>
                            </div>
                        </div>                            
                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                        <input type="submit" id="btn-guardar" class="btn btn-primary" value="GUARDAR">
                    </div>
                </form> 
            </div>
        </div>
    </div>
    <div th:replace="layout/fragmentos :: extra"></div>
  </body>
</html>