<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
xmlns:sec=http://www.thymeleaf.org/extras/spring-security
xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
  <head th:replace="layout/fragmentos :: head">
  </head>
  <body>
    <aside th:replace="layout/fragmentos :: aside"></aside>
    <!-- <div th:replace="layout/fragmentos :: overlay"></div> -->
    <div class="overlay" ></div>
    <main class="main-wrapper">
      <div th:replace="layout/fragmentos :: header"></div>
      <section class="section">
        <div class="container-fluid py-4">
                <div class="card w-75 mx-auto ">
                    <div class="card-header text-dark py-4">
                        <div class="row justify-content-evenly align-items-center">
                            <div class="col-12 col-lg-6 text-center fw-600 fs-3">LOCALES ACTUALMENTE</div>
                            <div class="col-12 col-lg-6 text-center">
                                <div class="row py-3 justify-content-center">
                                    <div class="col-12">
                                        <input type="text" id="search" name="id" placeholder="Buscar" class="text-start ps-2 mx-4 p-0 dash_search">
                                        <a href="" id="agregarcategoria" class="btn btn-success my-2" data-bs-toggle="modal" data-bs-target="#formModal" >
                                            AGREGAR
                                            <i id="iconproveedor" class="fas fa-plus "></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive ">
                        <div class="row pb-3">
                            <div class="col-12">
                                <p class="d-inline">Mostrar</p>
                                <select id="select" name="select">
                                    <option value="5" th:selected=" ${numPage ==  5 } ?  true : false">5</option>
                                    <option value="10" th:selected=" ${numPage == 10 } ?  true : false">10</option>
                                    <option value="15" th:selected=" ${numPage == 15 } ?  true : false">15</option>
                                </select>
                                <p class="d-inline">Registros</p>
                            </div>
                        </div>
                        <table class="table table-hover table-bordered text-center ">
                            <thead>
                                <tr>
                                    <th class="px-3">ID</th>
                                    <th class="px-3">Nombre</th>
                                    <th class="px-3">Direccion</th>
                                    <th class="px-3"></th>
                                    <th class="px-3"></th>
                                    <th class="px-4"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item: ${list}">
                                    <td th:text="${item.id}"></td>
                                    <td th:text="${item.nombre}" th:data-nombre="${item.nombre}" ></td>
                                    <td th:text="${item.direccion}"></td>                               
                                    <td>
                                        <a 
                                         th:href="@{/local/editar/} + ${item.id}" 
                                         id="editlocal"
                                         th:data-id="${item.id}"
                                         th:data-name="${item.nombre}"
                                         th:data-direccion="${item.direccion}"
                                         class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#formModal"> 
                                         <i class="fas fa-edit" ></i> Editar</a>
                                    </td>
                                    <td>
                                        <a 
                                        id="eliminarlocal"
                                        th:data-id="${item.id}"
                                        data-bs-toggle="modal" data-bs-target="#formModal2"                                    
                                        class="btn btn-danger"> 
                                        <i class="fas fa-trash pe-1"></i>Eliminar</a>
                                    </td>
                                    <td>
                                        <a 
                                        th:href="@{/local/ver/} + ${item.id}" 
                                        id="verlocal"
                                        th:data-id="${item.id}"
                                        th:data-name="${item.nombre}"
                                        th:data-direccion="${item.direccion}"
                                        class="btn btn-secondary px-2" data-bs-toggle="modal" data-bs-target="#formModal"> 
                                        <i class="fas fa-eye pe-1 "></i>Ver</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                            <div class="col-12">
                                <nav aria-label="Pagination">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item" th:classappend="${prev == 0 ? 'disabled' : ''}">
                                            <a class="page-link" th:href="@{|/local/?page=${prev}|}"><span
                                                    aria-hidden="true">&laquo;</span></a>
                                        </li>
                                        <li class="page-item" th:each="page : ${pages}"
                                            th:classappend="${current == page ? 'active' : ''}">
                                            <a class="page-link" th:href="@{|/local/?page=${page}|}"
                                                th:text="${page}"></a>
                                        </li>
                                        <li class="page-item" th:classappend="${current == last ? 'disabled' : ''}">
                                            <a class="page-link" th:href="@{|/local/?page=${next}|}"><span
                                                    aria-hidden="true">&raquo;</span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                    </div>
                </div>                       
        </div>
      </section>
      <footer th:replace="layout/fragmentos :: footer">  
      </footer>
    </main>
    
    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form  method="post" th:action="@{/local/form}" th:object="${local}" >
                    <input id="id" type="hidden" th:field="*{id}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="${mensaje}"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class ="row">
                            <div class="col-12  mb-3">
                                <label>Nombre</label>
                                <input id="name" type="text" th:field="*{nombre}"  class="form-control" placeholder="Ingrese nombre"/>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-12  mb-3">
                                <label>Dirección</label>
                                <input id="direccion" type="text" th:field="*{direccion}" class="form-control" placeholder="Ingrese la Dirección"/>
                            </div>
                        </div>                             
                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                        <input type="submit" id="btn-guardar" class="btn btn-primary" value="GUARDAR">
                    </div>
                </form> 
            </div>
        </div>
    </div>
    <div class="modal fade" id="formModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title fw-700 fs-4" id="exampleModalLabel" ><i class="fas fa-trash"></i> Borrar !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <p class="text-dark fw-500">    
                        Está Seguro de Eliminar este Registro ?
                    </p>
                    </div>
                    <div class="modal-footer">
                    <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                    <a id="deletelocal" type="submit" class="btn btn-danger">SI, estoy Seguro</a>
            </div>
        </div>
        </div>
    </div>
  
    <div th:replace="layout/fragmentos :: extra"></div>
  </body>
</html>